{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-big">
            <div id="page-title" class="wrapper">
                <h1 class="h2">Resources! Sharing is caring.</h1>
                <h5 class="title-alt">Work smarter, not harder. Use our resources to grow your business.</h5>
            </div>
        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <section id="page-body">

            <div class="wrapper">

                <div class="spacer-big"></div>
                <div class="spacer-big hidden-786"></div>

                <div class="column-section clearfix">
                    <div class="column one-full">
                        {{post.content}}
                    </div>
                </div>
            </div>

            <div class="spacer-big"></div>

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
{% endblock %}