{% extends "base.twig" %}

{% block content %}
<!-- Page Heading Section Start -->
<div class="pagehding-sec">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h1>About Us</h1>
                </div>
                <div class="breadcrumb-list">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">about us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="about-desc">
                    <span class="about-subtitle">A bit about us</span>
                    <h1>Some say agency - we say team</h1>
                    <p>Scope Web is an agency of designers, developers and content makers based in New York City &amp; The Netherlands. We’re in the heart of the city, but don’t be fooled, over half of our clients are suburban based and we understand the difference.</p>
                    <p>
                        We’re not tied down to any one specific sector either, and we like it that way. It gives us a broader range of work to flex our creative muscles! After all, being creative is about solving a problem.</p>
                    <p>We offer a full range of services and can help you from the very creation of an idea through to delivery and on-going support. So whether it’s a brand and a campaign roll out, or a website design and build, we help you shape it.</p>
                    <a href="#about-more">Read More</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="vedio-inner">
                    <img src="{{ site.theme.path }}/img/vedio_thumb.jpg" alt="">
                    <div class="vedio-overly">
                        <div class="vedio-button">
                            <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="mfp-iframe vedio-play"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
<!-- Count Up Section Start -->
<div class="count-up-sec" id="about-more">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="counting_sl">
                    <div class="countup-text">
                        <h2 class="counter">2</h2>
                        <h4>International locations</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="counting_sl">
                    <div class="countup-text">
                        <h2 class="counter">316</h2>
                        <h4>Cups of coffee</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="counting_sl">
                    <div class="countup-text">
                        <h2 class="counter">42</h2>
                        <h4>Successful projects</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 inner">
                <div class="counting_sl">
                    <div class="countup-text">
                        <h2 class="counter">3</h2>
                        <h4>Site of the day</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Count Up Section End -->
<!-- About Us Secondary Section Start -->
<div class="about-us-sec pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>🔨 Crafted with purpose</h4>
            </div>
            <div class="col-md-8">
                <p>We define ourselves by the work we produce. Everything has a purpose and it plays an important part in the work we create as a team. The skills and techniques we have learnt and the experiences we have gained throughout the years play a part in what we do.</p>
                <p>To some, craft may be a strange word to use when talking about design in the modern sense. Craft is usually associated with traditional techniques such as carpentry or ironmongery. But in its essence, it’s about the care, skill, knowledge and technique in producing a final piece of work. Our tools may be different, but it’s these core elements that make us the same, and in that sense, we’re not unlike those traditional craftsmen after all.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>🌎 We're a remote team</h4>
            </div>
            <div class="col-md-8">
                <p>Tucked away behind our computers we're a fully remote team. We're lucky to have an amazing team that has strong communication and cultural differences that allow us to communicate with any client efficiently and respectfully.</p>
                <p>The fact that you spend most of your life at work means it needs to be a place that you enjoy. Gone are the days of being glued to your desk. Some of our best ideas and thoughts have come from a chat in our library, a stroll in the nearby orchards, or after a heated game of Fortnite.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>🏆 Awards</h4>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li>2x Site of the day</li>
                            <li>5x UI Design award</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li>3x Site of the month</li>
                            <li>1x Webby award</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Secondary Section End -->
{% endblock %}