{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-auto">
            <div id="page-title" class="wrapper">
                <h1 class="h2">We would love to hear from you</h1>
                <h3 class="mt-50">We put all the experience and know-how in this product so we can offer you the best product we have ever built.</h3>
            </div>
        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div id="map1" class="google-map" style="height:400px;">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="1850" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=3333%20Broadway&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.pureblack.de">webdesign agentur</a>
                    </div>
                    <style>
                        .mapouter {
                            text-align: right;
                            height: 400px;
                            width: 1850px;
                        }
                        .gmap_canvas {
                            overflow: hidden;
                            background: none!important;
                            height: 400px;
                            width: 1850px;
                        }
                    </style>
                </div>
            </div>
            <div class="spacer-big"></div>

            <div class="wrapper">

                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <h5 class="title-alt">
                            <strong>Our Offices</strong>
                        </h5>
                    </div>
                    <div class="column one-fourth">
                        <h4>New York City</h4>
                        <p>3333 Broadway<br>Ny 10013 New York City<br>+1 570 580 7737</p>
                    </div>
                    <div class="column one-fourth">
                        <h4>Rotterdam</h4>
                        <p>Weena 290<br>3012 NJ Rotterdam<br>+31 685 661 069</p>
                    </div>
                </div>
                <!-- END .column-section -->

                <div class="spacer-big"></div>

                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <h5 class="title-alt">
                            <strong>Write Us</strong>
                        </h5>
                    </div>

                    <div class="column three-fourth last-col">
                        <form id="contact-form" class="checkform sendemail" action="send.php" method="post">

                            <div class="form-row">
                                <label for="name">Name
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <input type="text" name="name" id="name" class="name req" value=""/>
                            </div>

                            <div class="form-row">
                                <label for="email">Email
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <input type="text" name="email" id="email" class="email req" value=""/>
                            </div>

                            <div class="form-row">
                                <label for="message">Message
                                    <abbr title="required" class="required">*</abbr>
                                </label>
                                <textarea name="message" id="message" class="message req" rows="30" cols="50"></textarea>
                            </div>

                            <div class="form-row form-note">
                                <div class="alert-error">
                                    <p>Please check your entries!</p>
                                </div>
                            </div>

                            <div class="form-row hidden">
                                <input type="text" id="form-check" name="form-check" value="" class="form-check"/>
                            </div>

                            <div class="form-row">
                                <input type="submit" name="submit" class="submit" value="Send Message"/>
                            </div>

                            <input type="hidden" name="subject" value="Contact Subject Noha HTML"/>
                            <input type="hidden" name="fields" value="name,email,message"/>
                        </form>
                    </div>
                </div>

            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
{% endblock %}