{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-auto">
            <div id="page-title" class="wrapper">
                <h1 class="h2">Touch base with us</h1>
                <h3 class="mt-50">Forgive us if we don’t pick up. We are often heads down jamming on something that we can’t wait to share. We'll talk real soon. In the meantime, peep our social wall to see what we're up to.</h3>
                <div class="spacer-small"></div>
                <div class="addthis_inline_follow_toolbox"></div>
            </div>
        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">
            <div class="wrapper">
                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <h5 class="title-alt">
                            <strong>Our Offices</strong>
                        </h5>
                    </div>
                    <div class="column one-fourth">
                        <h4>New York City</h4>
                        <p>3333 Broadway<br>Ny 10013 New York City<br>+1 570 580 7737</p>
                    </div>
                    <div class="column one-fourth">
                        <h4>Rotterdam</h4>
                        <p>Weena 290<br>3012 NJ Rotterdam<br>+31 685 661 069</p>
                    </div>
                </div>

                <div class="spacer-big"></div>
            </div>

            <div id="map1" class="google-map" style="height:400px;">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="1850" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=3333%20Broadway&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <style>
                        .mapouter {
                            text-align: right;
                            height: 400px;
                            width: 1850px;
                        }
                        .gmap_canvas {
                            overflow: hidden;
                            background: none!important;
                            height: 400px;
                            width: 1850px;
                        }
                    </style>
                </div>
            </div>
            <div class="spacer-big"></div>

            <div class="wrapper">

                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <h5 class="title-alt">
                            <strong>Write Us</strong>
                        </h5>
                    </div>

                    <div class="column three-fourth last-col">
                        {% filter shortcodes %}
                            [contact-form-7 id="90" title="Contact form 1"]
                        {% endfilter %}
                    </div>
                </div>

            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bad2d7d8419ba47"></script>
{% endblock %}